/* Reset default styles */


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(white rgb(42, 42, 42));
    background-color: rgb(220, 126, 126);
    height:1500px; width: auto;
}

    /* HEADER */

    header {
        /* background-color: rgb(255, 82, 82); */
        background-color:  #DC7E7E;
        height: 5%;
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header div {
        height: 90%;
        width: 100%;
        text-align: center;
    }

    .timeInfo {
        flex: 1;
    }

    .phoneInfo {
        flex: 1;
    }

    .locationInfo {
        flex: 1;
    }

    header img {
        margin-top: 2%;
        height: 40%;
        width: auto;
    }
    
    header p {
        font-size: 15.5px;
        color: white;
        text-decoration: none;
    }
    

/* Navbar container */
.navbar {
    height: 50px;
    width: auto;
    /* background-color: #57375D;   */
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    margin: 0;
    /* box-shadow: 10px 10px 20px rgb(249, 80, 80); */
    z-index: 20;
}



.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 7% !important; 
    font-size: 20px;
}

.navbar li {
    margin-left: 5px;
}

/* Logo image */
.logo img {
    width: 55px;
    height: 50px;
}

.logo img:hover {
    cursor: pointer;
}

/* Navbar links */
.navbar a {
    width: 30px;
    color: #5f5f96;   
    text-decoration: none;
    padding: 29px 20px;
    border-radius: 100px;
}

/* Change the link color on hover */
.navbar a:hover {
    color: #ff6262;
    text-decoration: underline;
}


/* Style the navigation links */
.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar li {
    margin-left: 8px;
}

/* Two columns below navbar */
.content-container {
    background-color: rgb(255, 255, 255);
    padding: 0% 0% 0% 0%;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80vh;
    margin: 3% 0% 3% 5%;
    box-shadow: 10px 10px 20px rgb(208, 68, 68);
}


/* Left column */
.left-column {
    width: 100%;
    /* background: linear-gradient(to top, #FF9B82, #FF3FA4); */
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    /* background-color: rgb(232, 232, 232); */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex: 1;
}

/* Button style */
.rentNowBtn {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 109, 109);
    color: rgb(105, 65, 65);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 10px;
}

.left-column p:first-child {
    font-size: 33px;
    color: #ff37af;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.left-column p:nth-child(2) {
    font-size: 25px;
    color: #ff37af;
    text-shadow: 1px 1px 6px #841e5b;
    font-weight: 550;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.left-column ul {
    color: #5f5f96;;
    font-size: 15px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.right-column {
    width: 60%;
    height: 100%;
    /* background: linear-gradient(to bottom, #ffffff, #FFC8C8); */
    background-color: rgb(255, 170, 170);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin: 0% 0% 0% 3%;
    flex: 1;
}

.right-column img {
    height: 90%;
    align-self: flex-end;
    float: right;                  
}

/* FORMS */
.forms,
.forms2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* FORM SIGN UP */

.forms form{
    height: 670px;
    width: 300px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 30px;
    margin-left: 30%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.forms2 form{
    width: 500px;
    height: 300px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 30px;
    margin-left: 30%;
    margin-top: 15%;
    flex-wrap: wrap;
}

/* Style for form headings */
.forms form h1,
.forms2 form h1 {
    margin-left: 38%;
}

/* Style for form labels */
.forms form p,
.forms2 form p {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-left: 0; /* Reset margin */
    margin-bottom: 10px;
}

/* Style for form input fields */
.forms form input[type="text"],
.forms form input[type="password"],
.forms form input[type="date"],
.forms form input[type="email"],
.forms2 form input[type="text"],
.forms2 form input[type="password"],
.forms2 form input[type="date"],
.forms2 form input[type="email"] {
    width: 69%; /* Set the width of form elements to 48% for a horizontal layout */
    height: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 2%; /* Add a small gap between form elements */
}

/* Style for form buttons */
.groupButtons,
.groupButtons2 {
    text-align: center;
    margin-top: 5px;
    width: 100%; /* Make the button group span the full width of the form */
}

.groupButtons button,
.groupButtons2 button {
    margin: 0 10px; /* Add space between buttons */
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

/* Style for the "Cancel" button */
.groupButtons button:first-child,
.groupButtons2 button:first-child {
    background-color: rgb(255, 76, 76);
    height: 30px;
    width: 60px;
    cursor: pointer;
}

/* Style for the "Confirm" or "Log In" button */
.groupButtons button:nth-child(2),
.groupButtons2 button:nth-child(2) {
    background-color: rgb(0, 115, 255);
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.accountAlready {
    text-align: center;
} 

.rememberMeClass {
    margin-left: 10%;
}

    /* VISUAL CREDIBILITY SECTION */

.visualCredibility {
    height: 630px;
    width: 100%;
    background-color: rgba(255, 170, 170, 0);
    margin-top: 100px;
    flex-direction:row;
    display:flex;
    margin-left: 0%;
}

.visualCredibility p {
    font-size: 14px;
}

.visualCredibility div {
    height: 477px;
    width: 300px;
    margin-top: 3%;
    background: linear-gradient(to bottom, rgb(226, 226, 226), rgb(255, 211, 211));
    margin-left: 7%;
    border-radius: 0px;
    box-shadow: 10px 10px 20px rgb(208, 68, 68);
}

.visualCredibility section {
    height: 88%;
    width: 80%;
    margin: 10px 15px 15px 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.cosCommunity img {
    border-radius: 50%;
    margin-top: 10%;          
}

.visualCredibility img {
    height: 220px;
    width: 220px;
    margin-left: 5%;
    margin-top: 2%;
}

    /* SERVICES */

.services {
    height: 20%;
    width: auto;
    /* background-color: rgb(220, 126, 126); */
    background-color: rgb(255, 249, 249);
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center ;
    /* box-shadow: 10px 10px 20px rgb(208, 68, 68); */
}

.services div {
    background-color: rgba(128, 128, 128, 0);
    height:80%;
    width:100%;
    padding: 3%;
}

.services p {
    font-size: 16px;
    color: #FF6B81;
    font-weight: 400px;
    text-align: center;
}

    /* SOCIALS SECTION */

.followUsLogos{
    display: flex;
    flex-direction: row;
    margin-left: 43%;
}

.followUsLogos img{
    
}

.socials {
    height: 10%;
    width: auto;
    background-color: rgb(255, 249, 249);
    margin: 0;
    margin-top: -5%;
}

.socials img {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 0px;
}

.socials h2 {
    color: #ff37af;
    /* text-shadow: 1px 1px 6px #841e5b; */
    font-size:1rem;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



    /* MEDIA QUERY OR RESPONSIVENESSS */

    @media (max-width: 600px) {

        /* HEADER */

        header {
            /* background-color: rgb(255, 82, 82); */
            background-color:  #DC7E7E;
            height: 6%;
            width: auto;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        header div {
            height: 90%;
            width: 100%;
            margin-top: 5%;
            text-align: center;
        }
    
        .timeInfo {
            flex: 1;
        }
    
        .phoneInfo {
            flex: 1;
        }
    
        .locationInfo {
            flex: 1;
        }
    
        header img {
            margin-top: 2%;
            height: 25%;
            width: auto;
        }
        
        header p {
            font-size: 0.7rem;
            color: white;
            text-decoration: none;
        }

        /* NAVIGATION BAR */

.navbar {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            height: 120px;
            margin: 0px;
        }
.logo {
            margin-left: 0%;
        }

.logo img {
            margin-top: 20px;
            height: 50px;
            width: 55px;
        }
.navbar a {
            margin: 5px 0;
        }
    
.navbar ul{
            font-size: 0.7rem;
            padding: 20px 0px 20px 35px;
            margin-left: 0px;
            float: left;
        }

        /* FIRST AND SECOND CONTENT */

.content-container {
            flex: auto;
            height: 35vh;
        }
    
        /* LEFT COLUMN */

.left-column {
            width: 35%;
        }
    
.left-column p:first-child {
        font-size: 0.75rem;
        color: #ff37af;
        }
    
.left-column p:nth-child(2) {
            font-size: 0.55rem;
        }
    
.left-column ul {
            /* color: #B0578D; */
            color: #5f5f96;
            font-size: 0.4rem;
        }

.rentNowBtn {
            border-radius: 10px;
            display: inline-block;
            /* background-color: rgb(87, 214, 140); */
            color: rgb(105, 65, 65);
            text-decoration: none;
            border: none;
            cursor: pointer;
            margin-top: 10px;
            font-size: 0.4rem;
            height: 1px;
            width: 36px;
        }
    
        /* RIGHT COLUMN */

.right-column {
            width: 35.8%;
            float: left;
            margin-left: 0%;
        }
        .right-column img {
            height: 200px;
        }

.forms,
.forms2 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    }

    /* FORM SIGN UP */

.forms form{
    height: 460px;
    width: 200px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    margin-left: 23%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    font-size: 5px;
    }

.forms2 form{
    width: 200px;
    height: 200px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 30px;
    margin-left: 25%;
    margin-top: 15%;
    flex-wrap: wrap;
    }

    /* Style for form headings */
.forms form h1,
.forms2 form h1 {
    margin-left: 38%;
    }

    /* Style for form labels */
.forms form p,
.forms2 form p {
    font-size: 11px;
    width: 100%;
    margin-left: 0; /* Reset margin */
    margin-bottom: 10px;
}

/* Style for form input fields */
.forms form input[type="text"],
.forms form input[type="password"],
.forms form input[type="date"],
.forms form input[type="email"],
.forms2 form input[type="text"],
.forms2 form input[type="password"],
.forms2 form input[type="date"],
.forms2 form input[type="email"] {
    width: 70%;
    height: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 0%;
}

/* Style for form buttons */
.groupButtons,
.groupButtons2 {
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

.groupButtons button,
.groupButtons2 button {
    margin: 0 10px; /* Add space between buttons */
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

/* Style for the "Cancel" button */
.groupButtons button:first-child,
.groupButtons2 button:first-child {
    background-color: rgb(255, 76, 76);
    height: 20px;
    width: 60px;
    cursor: pointer;
}

/* Style for the "Confirm" or "Log In" button */
.groupButtons button:nth-child(2),
.groupButtons2 button:nth-child(2) {
    background-color: rgb(0, 115, 255);
    height: 20px;
    width: 60px;
    cursor: pointer;
}

.accountAlready {
    text-align: center;
} 

.rememberMeClass {
    margin-left: 5%;
}
        
        /* VISUAL CREDIBILITY */

        .visualCredibility {
            height: 1000px;
            width: 100%;
            background-color: rgba(255, 170, 170, 0);
            margin-top: 5%;
            display:flex;
            flex-direction: column;
            margin-left: 0%;
        }

        .visualCredibility p {
            font-size: 0.53rem;
        }
        
        .visualCredibility div {
            height: 305px;
            width: 250px;
            margin-top: 3%;
            background: linear-gradient(to bottom, rgb(226, 226, 226), rgb(255, 211, 211));
            margin-left: 25%;
            border-radius: 0px;
        }

        .visualCredibility section {
            height: 50%;
            width: 80%;
            margin: 10px 15px 15px 10px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
        }
        
        .visualCredibility img {
            height: 150px;
            width: 150px;
            margin-left: 11%;
            margin-top: 5%;
        }

        .cosCommunity img {
            border-radius: 50%;
            height: 140px;
            width: 145px; 
            margin-left: 12%;
            margin-top: 5%;           
        }

        .visualCredibility section {
            height: 240px; 
            width: 190px;
            margin: 10px 20px 20px 10px; 
            background-color: white; 
            padding: 20px;
        }

        .services {
            height: 9%;
            width: auto;
            /* background-color: rgb(220, 126, 126); */
            background-color: rgb(255, 249, 249);
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center ;
        }
        
        .services div {
            background-color: rgba(128, 128, 128, 0);
            height: 80%;
            width:100%;
            padding: 3%;
            flex: 1;
        }
        
        .services p {
            color: #FF6B81;
            font-size: 0.45rem;
            font-weight: 400px;
            text-align: center;
        }

        .followUsLogos{
            display: flex;
            flex-direction: row;
            margin-left: 38%;
        }
        
        .followUsLogos img{
            
        }
        
        .socials {
            height: 7%;
            width: auto;
            background-color: rgb(255, 249, 249);
            margin: 0;
            margin-top: -5%;
        }
        
        .socials img {
            height: 22px;
            width: 22px;
            margin: 20px 20px 20px 0px;
        }
        
        .socials h1 {
            color: #ff37af;
            font-size: 0.9rem;
            /* text-shadow: 1px 1px 6px #841e5b; */
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    }
